<template>
  <div class="container">
    <h1>New Anime</h1>

    <b-form @submit="onSubmit" @reset="onReset">
      <b-form-group id="anime-name" label="Anime name:" label-for="anime-name">
        <b-form-input
          id="anime-name"
          v-model="form.name"
          placeholder="Enter name"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="anime-rating"
        label="Anime rating:"
        label-for="anime-rating"
      >
        <b-form-input
          id="anime-rating"
          type="number"
          min="1"
          max="10"
          v-model="form.rating"
          placeholder="Enter rating number"
        ></b-form-input>
        <b-form-rating
          id="anime-rating"
          v-model="form.rating"
          stars="10"
        ></b-form-rating>
      </b-form-group>

      <b-form-checkbox
        id="anime-completed"
        v-model="form.completed"
        name="anime-completed"
      >
        Completed
      </b-form-checkbox>

      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="outline-secondary">Reset</b-button>
      <b-button href="/anime">Back</b-button>
    </b-form>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  data() {
    return {
      form: {
        name: '',
        rating: null,
        completed: false,
      },
    }
  },
  methods: {
    onSubmit(event: any) {
      event.preventDefault()
      console.log(this.form)
    },
    onReset(event: any) {
      event.preventDefault()
      this.form.name = ''
      this.form.rating = null
      this.form.completed = false
    },
  },
})
</script>
