<template>
  <div class="container">
    <h1>Anime</h1>
    <nuxt-link to="anime/create">Create new</nuxt-link>

    <b-input-group>
      <b-form-input
        id="anime-search"
        v-model="search"
        placeholder="Enter search"
        required
      ></b-form-input>
    </b-input-group>

    <b-card-group deck>
      <b-card
        v-for="(item, index) in test_list"
        :key="item.title"
        :img-src="item.coverImage"
        img-alt="Image"
        img-top
        :footer="'Last Updated: ' + item.lastUpdated.toLocaleDateString()"
        tag="article"
        style="max-width: 20rem; margin-top: 25px"
        class="mb-2"
      >
        <b-card-title>
          <nuxt-link to="#">
          {{ item.title }}
          </nuxt-link>
        </b-card-title>
        <b-card-text>
          Rating : {{ item.rating }}
          <br />

          <div v-if="item.completed">
            Status: <b-badge variant="secondary">Completed</b-badge>
            <br />
            Episodes: {{ item.totalEpisodes }}
          </div>
          <div v-else>
            Status: <b-badge variant="warning">On-going</b-badge>
            <br />
            Episodes: {{ item.completedEpisodes }} / {{ item.totalEpisodes }}
            <b-button-group class="float-right">
              <b-button
                size="sm"
                variant="success"
                @click="updateEpisodesCount(test_list, index, 1)"
                >+</b-button
              >
              <b-button
                size="sm"
                variant="warning"
                @click="updateEpisodesCount(test_list, index, -1)"
                >-</b-button
              >
            </b-button-group>
            <br /><br />
            <b-button
              @click="markAsCompleted(test_list, index)"
              variant="outline-success"
              >Complete</b-button
            >
          </div>
        </b-card-text>
      </b-card>
    </b-card-group>
    <!-- <p>
      {{ $auth.user.sub }}
    </p> -->
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  data() {
    return {
      search: '',
      test: 'hello',
      test_list: [
        {
          title: 'Hello',
          rating: 5,
          coverImage: 'https://picsum.photos/600/300/?image=25',
          totalEpisodes: 12,
          completedEpisodes: 12,
          completed: true,
          lastUpdated: new Date(),
        },
        {
          title: 'no.2',
          rating: 5,
          coverImage: 'https://picsum.photos/600/300/?image=25',
          totalEpisodes: 24,
          completedEpisodes: 3,
          completed: false,
          lastUpdated: new Date(),
        },
      ] as IAnime[],
    }
  },
  methods: {
    markAsCompleted: function (dataList: IAnime[], index: number) {
      dataList[index].completed = true
      dataList[index].completedEpisodes = dataList[index].totalEpisodes
    },
    updateEpisodesCount: function (
      dataList: IAnime[],
      index: number,
      increment: number
    ) {
      if (
        dataList[index].completedEpisodes + increment >
          dataList[index].totalEpisodes ||
        dataList[index].completedEpisodes + increment < 0
      ) {
        return false
      }
      dataList[index].completedEpisodes += increment
    },
  },
})

interface IAnime {
  title: string
  rating: number
  coverImage?: string
  totalEpisodes: number
  completedEpisodes: number
  completed: boolean
  lastUpdated: Date
}
</script>
