<template>
  <div class="container">
    <b-img :src="coverImage" fluid alt="Cover Image" class="float-right"></b-img>
    <div class="row">
      <div class="col-md-12">
        <h1 class="display">
          {{ title }}
        </h1>
      </div>
      <div class="col-md-12">
        <label for="anime-inline">Rating:</label>
        <b-form-rating
          no-border
          inline
          id="anime-rating"
          v-model="rating"
          variant="warning"
          stars="10"
        >
        </b-form-rating>
        {{ rating }} / 10
      </div>

      <div class="col-md-12">Total episides: {{ totalEpisodes }}</div>

      <div class="col-md-12">
        <b-form-checkbox v-model="completed" switch readonly>
          Completed
        </b-form-checkbox>
      </div>
      <div class="col-md-12">
        Sypnosis: <br />
        {{ sypnosis }}
      </div>
      <div class="col-md-12">
        <small class="text-muted"> Last updated: {{ lastUpdated }} </small>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  data() {
    return {
      title: 'Anime Title',
      rating: 5,
      coverImage: 'https://picsum.photos/300/400/?image=25',
      totalEpisodes: 12,
      completedEpisodes: 12,
      completed: true,
      sypnosis:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet nulla sed nibh pretium fringilla. Vestibulum vehicula est sem, sed vestibulum dui eleifend vitae. Morbi vitae eros ut velit volutpat sodales. Cras iaculis convallis turpis sed sodales. Maecenas pretium iaculis orci, a egestas justo blandit ut. In hac habitasse platea dictumst. Suspendisse fermentum varius dui, sit amet commodo felis elementum ut. Quisque non felis vel sapien sollicitudin posuere. Aliquam risus tellus, imperdiet a efficitur eu, elementum quis nulla. Pellentesque volutpat fermentum massa, in aliquam leo tempor eu. Curabitur sit amet neque urna. Integer risus ante, hendrerit at pretium nec, ornare eu nisl. Praesent auctor rhoncus est, sed egestas elit condimentum at.',
      lastUpdated: new Date(),
    }
  },
})
</script>
