<template>
  <div class="container">
    <h1>New Manga</h1>
    
    <b-form @submit="onSubmit" @reset="onReset">
      <b-form-group id="manga-name" label="Manga name:" label-for="manga-name">
        <b-form-input
          id="manga-name"
          v-model="form.name"
          placeholder="Enter name"
          required
        ></b-form-input>
      </b-form-group>


      <b-form-group id="manga-rating" label="Manga rating:" label-for="manga-rating">
      <!-- <label for="manga-rating">manga rating:</label> -->
        <b-form-input
          id="manga-rating"
          type="number"
          min="1"
          max="10"
          v-model="form.rating"
          placeholder="Enter rating number"
        ></b-form-input>
        <b-form-rating
          id="manga-rating"
          v-model="form.rating"
          stars="10"
        ></b-form-rating>
      </b-form-group>
      
      <b-form-checkbox 
        id="manga-completed"
        v-model="form.completed"
        name="manga-completed"
      >
        Completed
      </b-form-checkbox>
      
      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="outline-secondary">Reset</b-button>
    </b-form>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  data() {
    return {
      form: {
        name: "",
        rating: null,
        completed: false,
      },
    }
  },
  methods: {
    onSubmit(event: any) {
      event.preventDefault();
      console.log(this.form);
    },
    onReset(event: any) {
      event.preventDefault();
      this.form.name = '';
      this.form.rating = null;
      this.form.completed = false;
    },
  }
})
</script>
