<template>
  <div class="container">
    <h1>Manga</h1>
    <nuxt-link to="manga/create">Create new</nuxt-link>

    <b-input-group>
      <b-form-input
        id="manga-search"
        v-model="search"
        placeholder="Enter search"
        required
      ></b-form-input>
    </b-input-group>
    
    
    <!-- <p>
      {{ $auth.user.sub }}
    </p> -->
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  data() {
    return {
      search: '',
    }
  },
  methods: {
  },
})
</script>
