<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-1 text-center">
          Weebo Tracker
        </h1>
      </div>
      <div class="col-md-12">
        <p class="text-center">
          <a v-if="$auth.loggedIn" @click="$auth.logout()" class="button--grey">Sign Off</a>
          <a v-else @click="$auth.loginWith('auth0')" class="button--green">Sign In</a>
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  auth: false,
})
</script>
