<template>
  <div class="container">
    <div class="row">
      <div class="offset-md-4 col-md-4 text-center">
        <p v-if="$auth.loggedIn">
          Now that you're authenticated, maybe you should try going to our
          <nuxt-link to="/secret" class="link">super secret page</nuxt-link>!
        </p>
        <p v-else>
          You're not authenticated yet. Maybe you want to
          <a @click="$auth.login()" class="link">sign in</a> and see what
          happens?
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  auth: false,
})
</script>
